* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif, Verdana;
  width: 40%;
  padding: 15px;
}

h1 {
  margin-bottom: 8px;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 14px;
}

label {
  font-weight: bold;
}

input {
  margin: 8px 0px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  padding: 8px;
}

textarea {
  margin: 8px 0px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif, Verdana;
}

.btn-factorial {
  background: none;
  border: none;
  background-color: #008cba;
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn-factorial:hover {
  background-color: #1e00a1;
}

.btn-factorial:disabled {
  background-color: gray;
}

.submit-form {
  color: green;
  font-weight: bold;
}
