<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
  </head>
  <body>
    <h1>{{ titulo }}</h1>

    <table>
      <thead>
        <tr>
          <th>Empleado</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        {% for empleado in empleados %}
        <tr>
            {% if empleado.edad == '25' %}
            <td style="background-color: green;">{{empleado.nombre}}</td>
            <td style="background-color: green;">{{empleado.edad}}</td>
            {% elif empleado.edad != '25' %}
            <td style="background-color: yellow;">{{empleado.nombre}}</td>
            <td style="background-color: yellow;">{{empleado.edad}}</td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
