* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif, Verdana;
  width: 35%;
}

h1 {
  margin-bottom: 8px;
  text-align: center;
}

label {
  font-size: 18px;
}

.btn-factorial {
  background: none;
  border: none;
  background-color: #008cba;
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn-factorial:hover {
  background-color: #1e00a1;
}

.btn-factorial:disabled {
  background-color: gray;
}

div {
  font-size: 18px;
  margin-top: 8px;
  margin-left: 8px;
}

.respuesta {
  font-weight: bold;
}

h3 {
  margin-bottom: 8px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 8px;
}

th {
  background-color: #146c94;
  color: white;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
}

td {
  text-align: center;
  font-size: 14px;
}
